@model TutorLinkApp.VM.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />

    <div class="mb-3">
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        Reset password
    </button>
</form>

<div asp-validation-summary="All" class="text-danger mt-3"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
